.elements__item-delete {
    background: none;
    background-image: url(../../../images/deleteIcon.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 18px;
    height: 19px;
    border: 0;
    padding: 0;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
}

.elements__item-delete:hover {
    opacity: 0.6;
}